* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6ac1e;
    color: #ffffff;
    text-align: center;
}

.logoBar {
    background-color: #f6ac1e;
    display: flex;
    justify-content: center;

    .logoImg {
        width: 16rem;
        padding: 1rem;
    }
}

.navbar {
    background-color: #de0010;
    font-weight: 400;
}

#link-style {
    color: #ffffff;
    font-weight: 400;
}

#link-style:hover {
    font-weight: 300;
}

.app-container {
    margin-top: 2rem;
    margin-bottom: 2rem;

}
