img {
    width: 30%;
}

h2 {
    font-size: 2.5rem;
}

.btn.btn-primary {
    background-color: #de0010;
    border-color: #ffffff;
}

.btn.btn-primary:hover {
    background-color: #db222f;
    border-color: ffffff;
}

.text-muted {
    text-align:justify;
    font-size: 1rem;
}

.form-label {
    font-size: 1.5rem;
}

.form-control {
    font-size: 1.5rem;
}